/******************************************************************

Stylesheet: 600px以上のモニタで適用

******************************************************************/

.c-container {
  padding: 0 10vw;
}

.c-title {
  font-size: 1.8rem;
}

.insta-link {
  & span {
    padding-left: 35px;
    padding-right: 20px;
    font-size: 24px;

    &::before {
      height: 24px;
      width: 24px;
    }

    &::after {
      height: 12px;
      width: 12px;
    }
  }
}

//.p-header
.p-header {
  & .mobile-container {
    height: 80px;
  }

  & .logo__img {
    margin: 16px 10px 0 40px;
  }

  & .logo {
    height: 54px;
    width: 120px;
  }

  & .mobile-button {
    top: 30px;
    right: 40px;
  }

  & .sp-navbtn {
    display: none;
  }
}

//.p-firstview
.p-firstview {
  .swiper-container {
    height: 70;
  }
}

//.p-concept
.p-concept {
  &__title {
    padding-bottom: 5vw;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    width: 65%;
  }

  &__img {
    padding-left: 0;
    width: 30%;
  }

  #img01 {
    margin: 200px 20px 0 10px;
    padding: 0 0 10vw 0;
    position: relative;
    z-index: 100;
  }

  #img02 {
    margin-top: 100px;
    padding: 0 0 10vw 0;
    position: relative;
    z-index: 100;

    & img {
      height: 60%;
    }
  }
}

//.p-first
.p-first {
  &__flex {
    width: 48%;
  }

  &__img {
    width: 48%;
  }

  & .c-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

//.p-staff
.p-staff {
  padding-top: 50px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  &__img {
    width: 50%;
  }

  & .c-container {
    width: 60%;
  }
}

//.p-price
.p-price {
  padding-top: 50px;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    width: 48%;
  }

  &__right {
    width: 48%;
  }

  &__img {
    height: 400px;
    margin-bottom: 100px;
  }

  .p-title {
    margin-bottom: 10px;
  }

  .view-sp {
    display: none;
  }

  .view-pc {
    display: block;
  }
}

//.p-access
.p-access {
  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 48%;
  }

  &__txt {
    width: 48%;
  }
}

//.p-instagram
.p-instagram {
  & a {
    height: auto;
  }

  & .more-btn {
    display: block;
  }
}

//.p-voices
.p-voices {
  & ul {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 48%;
  }

  & .more-btn {
    display: block;
  }
}

//.p-footer
.p-footer {
  &__logo {
    width: 30%;

    & img {
      width: 100px;
      object-fit: contain;
    }
  }

  &__nav {
    width: 70%;

    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 40px;
    }

    & li {
      width: 50%;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__address {
    width: 40%;
    border-left: 1px solid rgb(224, 223, 223);
  }
}

//.p-news
.p-news {
  &__link {
    padding: 3vw 0;
  }

  & .view-more {
    & span {
      font-size: 1rem;
    }
  }
}

// * * * * ** * * 初めての方へ * * * * * * *
.c-first,
.c-price {
  .c-features {
    .c-container {
      display: flex;
      justify-content: space-between;
    }

    .c-title {
      width: 30%;
    }

    &__desc {
      width: 65%;
    }
  }

  .c-points {
    & li {
      display: flex;
      justify-content: space-between;

      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }

    &__img {
      width: 50%;
    }

    &__desc {
      width: 50%;
    }
  }

  .c-flow {
    &-item {
      .c-container {
        display: flex;
        justify-content: space-between;
      }
    }

    & .item-wrap {
      width: 48%;
    }

    & .item-img {
      width: 48%;
    }
  }
}

// * * * * * * * * * 料金体系 * * * * * *
.c-price {
  &__img {
    height: 200px;
  }
}

// * * * * ** * * スタッフ紹介 * * * * * * *
.c-staff-wrapper {
  .c-staff {
    &__flex {
      display: flex;
      justify-content: space-between;
    }

    &__img {
      width: 45%;
    }

    &__desc {
      width: 50%;
    }
  }
}

// * * * * * * * * * よくあるご質問* * * * * *
.faq-wrapper {
  .faq-contents {
    & .c-container {
      padding: 0 7vw;
    }

    & .faq {
      &__title {
        text-align: center;
      }

      & .c-txt-sm {
        font-size: 16px;
      }

      & .c-txt-md {
        font-size: 18px;
      }

      & dt {
        &::before {
          font-size: 28px;
        }

        & span {
          &::after {
            width: 3vw;
          }
        }
      }

      & dd {
        &::before {
          font-size: 30px;
        }
      }
    }

    & .nw-topview {
      margin: 0 -3vw;

      &__inner {
        margin: 0 -4vw;
      }
    }

    .p-footer {
      &__wrap {
        display: flex;
        justify-content: space-between;
      }

      & .p-open-time {
        margin: 0;

        &__wrap {
          width: 90%;
        }

        &__table {
          & th:first-child {
            width: 9.8vw;
          }
        }
      }
    }
  }
}

//* * * * * * * * * * 採用情報 * * * * * * * *
.c-recruit {
  .c-container {
    padding: 0 5vw;
  }

  & ul {
    display: flex;
    justify-content: space-between;

    & li {
      width: 30%;
      line-height: 1;
    }

    .points-title {
      margin-bottom: 25px;

      & .c-txt-lr {
        line-height: 1.5;
        font-size: 18px;
      }
    }

    .points-desc {
      & .c-txt-sm {
        font-size: 14px;
        line-height: 1.7;
      }
    }
  }

  .contents-recruit {
    .c-table01 {
      & tr {
        & th {
          vertical-align: top;
          min-width: 200px;
        }
      }

      & .u-view-sp {
        display: none;
      }
    }
  }
}

// * * * * * * * * * お知らせ一覧 * * * * * *
.news-wrapper {
  padding: 0;

  & .c-container {
    padding: 0 10vw;
  }

  .c-news {
    padding: 0;

    &__title {
      margin: 0 0 5vw 0;
    }

    &__list {
      padding-bottom: 0;
    }

    &__link {
      padding: 2vw 0;
    }
  }
}

// * * * * * * * * * お知らせ詳細 * * * * * *
.c-news-sl {
  &__contents {
    padding: 10vw 0;
  }

  .p-footer {
    &__wrap {
      display: flex;
      justify-content: space-between;
    }

    & .p-open-time {
      margin: 0;

      &__wrap {
        width: 90%;
      }

      &__table {
        & th:first-child {
          width: 9.8vw;
        }
      }
    }
  }
}
