// 設定
body {
  margin: 0;
  color: $cBlack;
  font-family: "Noto Serif JP", serif;
  font-family: "Roboto", sans-serif;

  &.hidden {
    overflow: hidden;
  }
}

a {
  color: $cBlack;
}

.superwrapper {
  overflow: hidden;
}

.p-title {
  position: relative;
  text-transform: uppercase;
  @extend .mb-md;

  & .en {
    display: block;
    font-size: 30px;
    letter-spacing: 4px;
  }

  & .ja {
    position: relative;
    top: -0.3rem;
    font-size: 14px;
    color: $cSubBlack;
  }
}

.c-title {
  position: relative;
  text-transform: uppercase;
  @extend .mb-md;

  & .en {
    display: block;
    font-size: 30px;
    letter-spacing: 4px;
  }

  & .ja {
    position: relative;
    top: -0.3rem;
    font-size: 14px;
    color: $cSubBlack;
  }
}

.view-more {
  margin-top: 10vw;
  text-align: right;

  & span {
    display: inline-block;
    letter-spacing: 3px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(110, 110, 110);
  }
}

.icon-tel {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url(/images/common/icon-tel.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 14px;
  width: 14px;
}

.icon-net {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url(/images/common/icon-link-1-black.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 15px;
  width: 15px;
}

.icon-map {
  position: relative;

  &::before {
    content: "";
    display: block;
    background-image: url(/images/common/icon-map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
  }
}

.icon-insta {
  position: relative;
  padding-left: 10vw;
  color: $cBlack;
  border-bottom: 1px solid $cGray;
  padding-bottom: 5px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/images/common/icon-insta-gr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
  }
}

.insta-link {
  margin-right: 25px;

  & span {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    padding-right: 20px;
    border-bottom: 1px solid $cSubBlack;
    font-size: 18px;
    color: $cSubBlack;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      height: 20px;
      width: 20px;
      background-image: url(/images/common/icon-insta-gr.png);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 14px;
      width: 14px;
      background-image: url(/images/common/arrow.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.c-topview {
  @extend .mb-md;

  &__img {
    height: 35vh;
  }

  @media (max-width: 599px) {
    .view-pc {
      display: none;
    }
  }

  @media (min-width: 600px) {
    .view-sp {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    height: 35vh;
  }
}

.pageBg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;

  & .txt {
    font-size: 8rem;
    font-weight: bold;
    color: rgb(246, 246, 246);
    text-transform: uppercase;
    writing-mode: vertical-rl;
    padding: 160px 0 0 0;
    line-height: 0.9;
    text-align: center;
  }

  @media (min-width: 960px) {
    & .txt {
      font-size: 11rem;
    }
  }
}

.more-btn {
  position: relative;
  display: inline-block;
  text-align: center;

  &__link {
    background-color: $cSubPink;
    // height: 50px;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid $cSubPink;
    z-index: 1;

    & span {
      position: relative;
      color: $cWhite;

      &:first-child {
        padding-right: 30px;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 20px;
          background-image: url(/images/common/arrow-wh.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          transition: all 0.3;
          z-index: 100;
        }
      }
    }

    &.slide-bg {
      position: relative;
      overflow: hidden;

      & .bg {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $cWhite;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-101%);
        transition: transform 0.3s;
        z-index: -1;
      }

      &:hover {
        z-index: 1;

        & span {
          color: $cSubPink;
          transform: none;
          transition: transform 0.3s;

          &:first-child {
            &::before {
              background-image: url(/images/common/arrow.png);
            }
          }
        }
      }
    }

    @media (min-width: 600px) {
      padding: 20px 40px;
      height: auto;

      .c-txt-sm {
        font-size: 16px;
      }
    }
  }
}

.tit {
  text-align: center;
  font-size: 20px;
  @extend .mb-sm;

  & .en {
    font-size: 12px;
    color: $cPink;
  }
}

//p-firstview
.p-firstview {
  position: relative;
  @extend .mb-lr;

  & .swiper-container {
    height: 70vh;

    @media (max-width: 1199px) {
      .view-pc {
        display: none;
      }
    }
  }
}

//.p-concept
.p-concept {
  @extend .mb-lr;

  &__title {
    padding-bottom: 10vw;
  }

  &__desc {
    @extend.mb-sm;
  }

  &__block {
    margin-bottom: 10vw;
  }

  &__img {
    & img {
      box-shadow: 20px 20px 35px rgb(199, 199, 199);
    }
  }

  #img01 {
    padding: 0 0 10vw 40vw;
    position: relative;
    z-index: 100;
  }

  #img02 {
    padding: 0 40vw 10vw 0;
    position: relative;
    z-index: 100;
  }
}

//.p-first
.p-first {
  @extend .mb-lr;

  &__img {
    @extend .pb-sm;
  }

  &__desc {
    @extend .pb-sm;
  }

  &__wrap {
    @extend .pb-md;
  }

  @media (max-width: 599px) {
    .view-pc {
      display: none;
    }
  }

  @media (min-width: 600px) {
    .view-sp {
      display: none;
    }
  }
}

//.p-instagram
.p-instagram {
  @extend .mb-lr;

  &__img {
    display: flex;
    margin: 0 -6vw;
    @extend .pb-sm;

    & a {
      height: 150px;
      width: 33%;
    }
  }

  &__desc {
    @extend .mb-sm;
  }
}

//.p-voices
.p-voices {
  padding-top: 20px;
  @extend .pb-lr;

  &__item {
    text-align: center;
  }

  &__img {
    margin-bottom: 15px;

    img {
      width: 35%;
    }
  }

  &__desc {
    @extend .mb-sm;

    & p {
      margin-bottom: 10px;
    }

    & .name {
      font-weight: bold;
    }

    & .tit {
      font-size: 18px;
      font-weight: bold;
      color: $cPink;
    }
  }

  .p-voice01 {
    &__img {
      text-align: center;
    }
  }
}

//.p-price
.p-price {
  @extend .pb-lr;

  &__img {
    @extend .mb-sm;
  }

  &__desc {
    @extend .mb-sm;
  }

  &__detail {
    @extend .mb-sm;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted $cGray;
    padding-bottom: 20px;

    &:first-of-type {
      border-top: 1px dotted $cGray;
      padding: 30px 0;
    }

    & dt {
      & span {
        display: block;
        font-size: 12px;
      }
    }

    .price-tit {
      font-size: 18px;
      font-weight: bold;

      .tax {
        display: block;
        font-size: 12px;
        text-align: right;
        margin-top: -5px;
      }
    }
  }

  @media (max-width: 599px) {
    .view-pc {
      display: none;
    }
  }
}

//.p-staff
.p-staff {
  @extend .pb-lr;

  &__img {
    @extend .mb-sm;
  }

  &__desc {
    @extend .mb-sm;
  }
}

//.p-access
.p-access {
  @extend .pb-md;
  @extend .mb-lr;

  &__img {
    @extend .mb-sm;
  }

  &__desc {
    @extend .mb-sm;
  }

  &__map {
    @extend .mb-sm;

    & iframe {
      width: 100%;
    }
  }
}

//.p-news
.p-news {
  position: relative;
  padding: 10vw 0;

  &__tit {
    margin-bottom: 10vw;

    & p {
      margin-bottom: -20px;
      font-weight: 100;
      letter-spacing: 5px;
    }
  }

  &__txt {
    margin: 5vw 0;
  }

  &__link {
    display: block;
    padding: 5vw 0;
    font-size: 0.8rem;

    & p {
      margin-top: 2vw;
    }

    & span {
      color: $cSubPink;
    }
  }

  &__item {
    border-bottom: 1px solid rgb(235, 235, 235);

    &:first-child {
      border-top: 1px solid rgb(235, 235, 235);
    }
  }

  & .view-more {
    padding-right: 0;
    text-align: right;
    letter-spacing: 2px;

    & span {
      font-size: 0.9rem;
    }
  }
}

//.p-footer
.p-footer {
  padding: 40px 0;
  border-top: 1px solid #ededed;

  &__logo {
    @extend .mb-sm;

    & img {
      width: 25%;
    }
  }

  &__nav {
    margin: auto;
    display: block;

    & ul {
      display: inline-block;
    }

    & li {
      margin-bottom: 15px;
      text-align: left;

      & span {
        position: relative;
        display: block;
        padding-left: 20px;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          margin: auto;
          content: "";
          height: 10px;
          width: 10px;
          background-image: url(/images/common/arrow.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      & .c-txt-sm {
        font-size: 12px;
        color: $cBlack;
      }
    }
  }

  &__address {
    text-align: center;
    @extend .mb-sm;

    & .address {
      margin-bottom: 10px;
    }

    & a {
      & span {
        color: $cBlack;
      }
    }
  }

  .copyright {
    text-align: center;
  }
}

//* * * * * * 初めての方へ * * * * * * *
.c-first,
.c-price {
  .c-features {
    @extend .mb-md;

    h3 {
      margin-bottom: 15px;
    }
  }

  .c-points {
    @extend .mb-lr;

    &__img {
      @extend .mb-sm;
      height: 220px;
    }

    @media (min-width: 600px) {
      &__img {
        height: 300px;
      }
    }

    @media (min-width: 960px) {
      &__img {
        height: 350px;
      }
    }

    &__item {
      @extend .mb-md;
    }

    &__desc {
      @extend .c-container;

      .item-tit {
        font-size: 18px;
      }

      .num {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 28px;

        color: $cYellow;
        border-bottom: 2px solid $cYellow;

        &-wrap {
          text-align: center;
          @extend .mb-sm;
        }
      }
    }
  }

  .c-flow {
    padding-top: 50px;
    @extend .mb-lr;

    .item {
      &-tit {
        @extend .mb-sm;
        font-size: 24px;

        & .num {
          color: $cNum;
          font-size: 42px;
          display: inline-block;
          margin-right: 20px;
        }
      }

      &-img {
        @extend .mb-sm;
      }
    }

    &-item {
      position: relative;
      padding: 50px 0;

      &::after {
        content: "";
        position: absolute;
        z-index: 200;
        bottom: -20px;
        left: 50%;
        margin-left: -40px;
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 20px 40px 0 40px;
        border-color: #f0f0f0 transparent transparent transparent;
      }

      &:last-of-type {
        @extend .mb-sm;

        &::after {
          display: none;
        }
      }
    }

    #flow02,
    #flow04,
    #flow06 {
      &::after {
        border-color: #fff transparent transparent transparent;
      }
    }

    #flow08 {
      &::after {
        display: none;
      }
    }

    #flow01,
    #flow03,
    #flow05,
    #flow07 {
      background-color: $cBg;
    }
  }

  .more-btn {
    text-align: center;
    display: block;

    &__link {
      width: auto;
    }
  }

  @media (max-width: 599px) {
    & .item-img.view-pc {
      display: none;
    }
  }

  @media (min-width: 600px) {
    & .item-img.view-sp {
      display: none;
    }
  }
}

//* * * * * * 料金体系 * * * * * * *
.c-price {
  @extend .mb-lr;

  &__img {
    @extend .mb-sm;
  }

  &__desc {
    @extend .mb-sm;
  }

  &__wrap {
    @extend .mb-md;
  }

  &__detail {
    @extend .mb-sm;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted $cGray;
    padding-bottom: 20px;

    &:first-of-type {
      border-top: 1px dotted $cGray;
      padding: 30px 0;
    }

    & dt {
      width: 60%;

      & p {
        margin-bottom: 10px;
      }

      & span {
        display: block;
        font-size: 12px;
        color: $cSubBlack;
      }
    }

    & dd {
      width: 30%;
    }

    .price-tit {
      font-size: 18px;
      font-weight: bold;

      .yen {
        display: block;
        text-align: right;
      }

      .tax {
        display: block;
        font-size: 12px;
        text-align: right;
        margin-top: -5px;
      }
    }
  }
}

//* * * * * * スタッフ紹介 * * * * * * *
.c-staff-wrapper {
  .c-features {
    @extend .mb-md;

    h3 {
      margin-bottom: 15px;
    }
  }

  .c-staff {
    @extend .mb-md;

    &__item {
      @extend .mb-md;

      & .director {
        text-align: center;
        font-size: 22px;
        letter-spacing: 4px;
        @extend .mb-sm;

        & .en {
          font-size: 12px;
          color: $cYellow;
        }
      }
    }

    &__img {
      @extend .mb-sm;
    }

    &__name {
      margin-bottom: 10px;

      & .en {
        font-size: 14px;
        letter-spacing: 3px;
      }

      & .ja {
        font-size: 24px;
        letter-spacing: 3px;
      }
    }

    &__text {
      @extend .mb-sm;
    }

    &__ls {
      @extend .mb-sm;
    }
  }

  .more-btn {
    text-align: center;
    display: block;

    &__link {
      width: auto;
    }
  }
}

//* * * * * * 採用情報 * * * * * * *
.c-recruit {
  @extend .mb-lr;

  &__title {
    text-align: center;
    @extend .mb-md;
  }

  &__points {
    & li {
      @extend .mb-md;
    }
  }

  .recruit-message {
    @extend .mb-md;
  }

  .recruit-detaiil {
    @extend .mb-md;

    &-sec {
      &.is-bottom {
        margin-top: 60px;
      }

      &__ico {
        font-family: serif;

        &.is-detail {
          &::before {
            background-image: url(../images/recruit/ico_detail01.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }

        &.is-info {
          &::before {
            background-image: url(../images/recruit/ico_info01.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }

    &__head {
      margin-bottom: 30px;
    }
  }

  .c-table01 {
    & tr {
      padding: 12px;
      border-top: 1px solid #e3e2dc;
      display: block;
    }

    & th {
      font-weight: bold;
    }

    & td {
      line-height: 1.5;
    }
  }

  .more-btn {
    display: block;
  }

  @media (max-width: 599px) {
    .c-table01 {
      th {
        display: block;
      }
    }
  }

  @media (max-width: 599px) {
    th {
      color: $cBlack;
      margin-bottom: 5px;
    }
  }

  .points-title {
    .c-txt-lg {
      color: $cYellow;
      display: block;
    }
  }
}

//* * * * * * よくあるご質問 * * * * * * *
.faq-wrapper {
  overflow: hidden;

  .faq {
    @extend .mb-lr;

    .c-txt-sm {
      font-size: 16px;
    }

    & .c-txtarea01 {
      @extend .mb-sm;
    }

    &__item {
      @extend .mb-sm;
    }

    & dt {
      position: relative;
      cursor: pointer;
      transition: color 0.2s cubic-bezier(0, 0, 0.58, 1);
      padding: 0 0 6vw 0;

      &::before {
        content: "Q";
        position: absolute;
        top: -5px;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 12px;
        font-size: 20px;
        color: $cSubYellow;
      }

      & span {
        padding-right: 8vw;
        margin-top: 4vw;
        margin-left: 8vw;
        line-height: 1.5;
        display: block;
        position: relative;
        padding-left: 3vw;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: 0;
          width: 16px;
          height: 16px;
          background-image: url(/images/common/icon-arrow-down.png);
          background-position: top center;
          background-repeat: no-repeat;
          background-size: contain;
          transition: all 0.2s;
        }
      }
    }

    & dd {
      position: relative;

      &::before {
        content: "A";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 12px;
        font-size: 22px;
        color: $cSubYellow;
      }

      & .m-description-article {
        margin: 2vw 0 2vw 8vw;
        font-size: 3.7vw;
        display: block;
        line-height: 2;
        padding-left: 3vw;
      }
    }

    .more-btn {
      display: block;
    }
  }
}

//* * * * * * お知らせ一覧 * * * * * * *
.c-news {
  padding: 0 0 10vw 0;
  letter-spacing: 3px;

  &__item {
    &:first-child {
      border-top: 1px solid $cYellow;
    }

    border-bottom: 1px solid $cYellow;
  }

  &__link {
    display: block;
    padding: 4vw 0;

    & p {
      margin-top: 2vw;
      color: $cBlack;
    }
  }

  &__date {
    color: $cSubYellow;
    margin-bottom: 5px;
  }

  &__list {
    padding-bottom: 5vw;
  }

  .page-numbers {
    margin: 6vw 0;
  }

  .page-numbers:not(.next):not(.prev) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cBlack;
    font-size: 13px;
    padding-left: 3px;

    & .current {
      border: 1px solid $cYellow;
      background: $cYellow !important;
    }

    & .page-numbers:not(.next):not(.prev) {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 1px solid $cYellow;
      background: #fff;
      margin: 0 1.3vw;
    }

    & .next {
      position: relative;
      padding-right: 22px;
      color: $cBlack;
      top: 0;

      &::after {
        transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
        content: "";
        position: absolute;
        right: 0;
        background-image: url(/images/common/arrow.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: 1px;
        width: 12px;
        height: 12px;
        margin-left: 8px;
      }
    }

    @media (max-width: 767px) {
      & .next {
        display: none;
      }
    }

    @media (min-width: 600px) {
      & .page-numbers:not(.next):not(.prev) {
        width: 45px;
        height: 45px;
      }

      & .next {
        top: 1px;
      }
    }

    @media (min-width: 900px) {
      & .page-numbers:not(.next):not(.prev) {
        width: 55px;
        height: 55px;
        font-size: 18px;
      }

      & .next {
        top: 2px;
        font-size: 18px;

        &::after {
          top: 4px;
        }
      }
    }
  }

  &__contents {
    line-height: 2;
    font-size: 0.8rem;
  }

  &__title {
    text-align: center;
    margin: 0 0 10vw 0;
    letter-spacing: 2px;
    font-weight: 100;
  }

  .c-news__block {
    padding: 8vw 0;
  }
}

//* * * * * * お知らせ詳細 * * * *
.c-news-sl {
  & .c-container {
    padding: 0 5vw 0 5vw;
  }

  &__date {
    color: $cSubYellow;
  }

  &__contents {
    padding: 10vw 0 0 0;
    line-height: 2.5;
  }

  &__link {
    margin: 0 0 10vw 0;
    text-align: right;
    font-size: 0.8rem;

    & a {
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 1px solid $cSubYellow;

      & span {
        color: $cBlack;
      }
    }
  }
}

//* * * * * * お問い合わせフォーム * * * * *
.c-contact {
  background-color: $cBg;

  .c-topview {
    &__img {
      @extend .mb-sm;
    }

    .c-container {
      p {
        text-align: center;
        font-weight: bold;
      }
    }
  }

  .c-description {
    padding: 40px 0;
    background-color: $cHeader;
    color: $cWhite;
    @extend .mb-md;

    ul {
      padding: 20px 0;
    }

    .c-txt-xs {
      font-size: 12px;
      color: $cWhite;
    }
  }

  .contact-form {
    margin-bottom: 40px;
    text-align: center;

    & h1 {
      display: block;
      text-align: center;
      margin: 30px 0;
    }

    & input,
    & textarea {
      width: 100%;
      border: 1px solid $cBlack;
    }

    & textarea {
      margin-bottom: 0;
    }

    & input {
      height: 45px;
    }

    & select {
      width: 130px;
      height: 45px;
      border: 1px solid $cBlack;
    }

    & dl {
      text-align: left;
      display: inline-block;
      width: 280px;
      padding-bottom: 20px;
    }

    & dt {
      font-size: 14px;
    }

    & .must {
      position: relative;
      padding: 5px 15px 5px 0;
      margin-right: 10px;

      &::after {
        content: "*";
        font-size: 14px;
        color: rgb(29, 100, 158);
      }
    }

    & .free {
      padding: 5px 15px 5px 0;
      margin-right: 10px;
    }

    .ct-request {
      & select {
        width: 100%;
      }
    }

    .ct-flex {
      display: flex;
      justify-content: space-between;
      width: 280px;
      text-align: center;
      margin: auto;
      padding-bottom: 20px;
    }

    .ct-sex {
      display: inline-block;
      text-align: left;

      & input {
        margin: 0;
      }

      & select {
        height: 45px;
      }
    }

    .ct-age {
      display: inline-block;
      text-align: right;

      & dt {
        text-align: left;
        display: block;
        padding-left: 13px;
      }
    }

    .ct-date {
      text-align: left;
      font-size: 14px;

      & input {
        margin-top: 0;
        width: 130px;
      }
    }

    .ct-time {
      display: inline-block;
      text-align: right;

      & dt {
        text-align: left;
        display: block;
        padding-left: 13px;
      }
    }

    & .wpcf7 form {
      &.invalid {
        & .wpcf7-response-output {
          border: 1px solid red;
        }
      }
    }

    & .wpcf7-acceptance {
      & input {
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }

    & .ms-1 {
      color: rgb(33, 128, 218);
      border-bottom: 1px solid rgb(33, 128, 218);
    }

    .privacy {
      @extend .mb-sm;
    }

    & .submit-btn {
      text-align: center;
      @extend .mb-sm;

      & input:disabled {
        border-color: $cGray;
      }

      & input {
        border-color: $cBlack;
        width: 70%;
        max-width: 320px;
      }
    }

    .ajax-loader {
      display: none;
    }

    .wpcf7-spinner {
      display: none;
    }

    @media (min-width: 600px) {
      & .c-contact-text {
        font-size: 18px;
      }

      dt {
        font-size: 20px;
      }

      dl {
        width: 540px;
      }

      .ct-date {
        & input {
          width: 250px;
        }
      }

      .ct-flex {
        width: 540px;
      }

      select {
        width: 250px;
      }

      & .submit-btn {
        & input {
          width: 70%;
          max-width: 320px;
          height: 64px;
          font-size: 20px;
        }
      }

      & .wpcf7-acceptance {
        & input {
          height: 30px;
          width: 30px;
          margin-right: 15px;
        }
      }

      & .ms-1 {
        font-size: 18px;
      }
    }

    @media (min-width: 1200px) {
      dl {
        width: 800px;
      }

      .ct-date {
        & input {
          width: 380px;
        }
      }

      .ct-flex {
        width: 800px;
      }

      select {
        width: 380px;
      }

      .ct-age,
      .ct-time {
        & dt {
          padding-left: 25px;
        }
      }
    }
  }

  .grecaptcha-badge {
    box-shadow: none !important;
    width: 100% !important;

    & iframe {
      box-shadow: grey 0px 0px 5px;
    }
  }

  // reCapcth消す
  // .grecaptcha-badge {
  //   visibility: hidden;
  // }
}

//* * * * * * privacy-policy * * * * * * *
.c-privacy {
  margin-top: 100px;

  .c-title {
    text-align: center;
    font-size: 26px;
    display: block;
    margin-bottom: 50px;
    font-weight: bold;
  }

  & h3 {
    margin-bottom: 20px;
  }

  &-item {
    margin-bottom: 30px;
  }

  &-btn {
    text-align: center;
    margin: 40px 0;
    font-size: 20px;

    & a {
      position: relative;
      border: 1px solid $cBlack;
      padding: 15px 30px;
      border-radius: 5px;
      background-color: $cWhite;
      transition: all 0.3s;
      letter-spacing: 2px;

      &:hover {
        letter-spacing: 5px;
        transition: all 0.3s;
      }

      &::after {
        position: absolute;
        top: 0;
        right: 5px;
        bottom: 0;
        margin: auto;
        content: "";
        display: inline-block;
        height: 18px;
        width: 18px;
        background-image: url(../images/common/arrow.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
