.p-header {
  width: 100%;
  background-color: transparent;

  .mobile-container {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgb(36, 36, 36);
    z-index: 5000;
  }

  & .logo__img {
    display: inline-block;
    margin: 8px 10px 0 20px;
  }

  & .logo {
    background-image: url(/images/common/riv_logo_official2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 48px;
    width: 90px;
  }

  .mobile-button {
    position: fixed;
    top: 22px;
    right: 10px;
    z-index: 3000;
  }

  .mobile-menu__btn {
    background-color: unset;
    border: none;
    outline: none !important;
    cursor: pointer;

    &>span {
      background-color: black;
      width: 25px;
      height: 1px;
      display: block;
      margin-bottom: 7px;
      transition: transform 0.7s;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (min-width:600px) {
      & span {
        width: 35px;
        margin-bottom: 9px;
      }
    }
  }

  .pc-container {
    display: none;
  }

  & .sp-navbtn {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    height: 8vh;
    width: 100%;
    z-index: 2000;
    transition: all.3s;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 77vw;
      margin: auto;

      & a {
        position: relative;
        color: $cBlack;
        font-size: 14px;
        letter-spacing: 1px;
        padding-right: 25px;
      }

      & .tel {
        letter-spacing: 2px;
      }

      & a:hover,
      a:active {
        text-decoration: underline;
      }
    }
  }

  & .hide {
    &.sp-navbtn {
      transform: translateY(100%);
      transition: all 0.4s;
    }
  }

  @media (min-width:960px) {

    .mobile-container,
    .sp-navbtn,
    .mobile-menu {
      display: none;
    }

    .pc-container {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      z-index: 8000;
      width: 100%;
      // height: 100px;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(5px);
      border-bottom: 1px solid rgb(36, 36, 36);


      & .pc-nav {
        margin-bottom: 10px;
      }

      & .pc-nav-list {
        display: flex;
      }

      & .pc-nav-item {
        font-size: 16px;
        padding-top: 20px;
        padding-right: 3.5vw;
        transition: all 0.3s;

        & a {
          color: $cBlack;
        }

        &:hover {
          transform: translateY(4px);
          transition: all 0.3s;
        }

        & small {
          color: $cSubPink;
          display: block;
          text-align: center;
          font-size: 10px;
        }
      }

      & .pc-contact {
        position: absolute;
        top: 2px;
        right: 10px;

        & a {
          position: relative;
          background-color: $cPink;
          padding: 8px 20px 8px 30px;
          border-radius: 4px;
          color: $cWhite;
          display: inline-block;
          transition: all 0.3s;
        }

        & a:hover {
          transform: translateY(4px);
          transition: all 0.3s;
        }

        & .pc-tel {
          &::before {
            position: absolute;
            top: 0;
            left: 5px;
            bottom: 0;
            margin: auto;
            content: '';
            height: 18px;
            width: 18px;
            background-image: url(/images/common/tel-white.png);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        & .pc-net {
          &::before {
            position: absolute;
            top: 0;
            left: 5px;
            bottom: 0;
            margin: auto;
            content: '';
            height: 18px;
            width: 18px;
            background-image: url(/images/common/icon-link-1-white.png);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }

      & .logo__img {
        display: inline-block;
        margin: 15px 10px 20px 20px;

        & .logo {
          width: 160px;
        }
      }
    }
  }
}

// メニューオープン
.menu-open {

  &.mobile-menu {
    opacity: 1;
    z-index: 3000;
    transition: all 0.5s;
    transform: none;
  }

  &.header__logo {
    transition: all 0.5s;
    opacity: 0;
  }

  .mobile-menu__btn {
    &>span {
      background-color: black;

      &:nth-child(1) {
        transition-delay: 70ms;
        transform: translateY(6px) rotate(135deg);

        @media (min-width:600px) {
          transform: translateY(10px) rotate(135deg);
        }
      }

      &:nth-child(2) {
        transition-delay: 140ms;
        transform: scaleX(0);
      }

      &:nth-child(3) {
        transition-delay: 140ms;
        transform: translateY(-10px) rotate(-135deg);
      }
    }
  }
}

// mobile-menu
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // transform: translateX(-100%);
  transition: all 0.5s;
  opacity: 0;
  z-index: -1;
  background-color: $cWhite;

  &__nav {
    display: block;
    height: 100%;
    width: 100%;
  }

  &__list {
    width: 100%;
    text-align: center;
    list-style: none;
    padding-top: 90px;
  }

  &__item {
    @extend .mb-sm;
    padding-bottom: 10px;
    font-size: 18px;
  }
}

.contact-btn {
  padding: 0 10px;

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    width: 48%;
    text-align: center;

    & span {
      position: relative;
      font-size: 12px;
      color: $cBlack;
      padding: 40px 5px 10px 5px;
      display: block;
      background-color: $cWhite;
      border: 1px solid $cSubPink;

      &::before {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        margin: auto;
        content: '';
        display: block;
        height: 22px;
        width: 22px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    & .tel {
      &::before {
        background-image: url(/images/common/icon-tel.png);
      }
    }

    & .mail {
      &::before {
        background-image: url(/images/common/icon-link-1-black.png);
      }
    }

    & .insta {
      &::before {
        background-image: url(/images/common/insta-black.png);
      }
    }
  }
}